# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

target/
/target/*

# The par file is compressed in greek.par.zip or greek.par.tar.xz
src/main/webapp/WEB-INF/resources/TreeTagger/lib/greek.par

# Connection to the server
src/main/webapp/WEB-INF/util/options.properties